* {
  margin: 0px;
  padding: 5px;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(86, 126, 219);
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

#container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: start;
}

#trash-bin {
  border-radius: 50%;
  opacity: 0.5;
  background: white;
  padding: 2px;
  border: 2px solid white;
  width: 40px;
  height: 40px;
}
#trash-bin:hover {
  opacity: 1;
}

#addButton {
  width: 50px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.card {
  flex-direction: column;
  background-color: rgba(219, 220, 236, 0.5);
  border-radius: 2%;
  border: 2px solid white;
  margin: 10px;
  padding: 2%;
  width: 300px;
  transition: background-color 0.3s ease;
}

.card:hover {
  background-color: rgba(219, 220, 236, 0.8);
}

.card-content p {
  margin-bottom: 3px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  padding: 2px;
}
