.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(72, 72, 72, 0.5);
    box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    border: 2px solid transparent;
    margin: 10px;
    padding: 2%;
    width: 300px;
    transition: background-color 0.25s, border-color 0.25s;
}

.card:hover {
    border-color: #646cff;
}



