.trashBin {
    border-radius: 50%;
    opacity: 0.5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 12px;
    width: 40px;
    height: 40px;
    transition: opacity 0.15s;
}

.trashBin:hover {
    opacity: 1;
}
