* {
  font-family: "Segoe UI", Tahoma, Verdana, serif;
}

body {
  display: flex;
  justify-content: center;

  background-color: rgba(121, 234, 69, 0.779);
}

.container {
  display: flex;
  flex-direction: column;

  background-color: #58afe6;

  padding: 20px;
  width: 30rem;
  min-height: 30em;
  border-radius: 20px;
}

input {
  height: 20px;
}

.addSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px;
}

.addButton {
  margin: 10px 0;
  padding: 8px 5px;
  opacity: 0.9;
  display: flex;
  width: fit-content;
  height: fit-content;
}

.itemSection {
  display: flex;
  justify-content: start;
  margin: 0 2rem;
  flex-direction: column;
}
.items {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  padding: 10px;
}

.item {
  display: flex;
  justify-content: center;
  background-color: rgb(191, 190, 190);
  padding: 8px;
  border-radius: 2px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  width: 18rem;
}

h2 {
  display: flex;
}

p {
  display: flex;
  align-self: end;
  font-size: small;
  margin: 0 0 0 8px;
}

li {
  display: flex;
  justify-content: center;
}
